:root {
  --primary: #824cfa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  background: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main img {
  width: 120px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
}

.container {
  width: 100%;
  max-width: 480px;
  padding: 0.6rem;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.link {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  border: 4px solid var(--primary);
}

.link:hover {
  background-color: transparent;
  color: var(--primary);
}
